<div class="menu">
    <h2>Sobre mí</h2>
    <p>¡Hola! Actualmente, estoy estudiando Desarrollo Full Stack e Ingeniería en Sistemas de Información. 
        Busco una oportunidad que me permita desarrollar mis habilidades y crecer en el área Front End. Me gusta aprender algo nuevo todos los días, trabajar en equipo y poner en funcionamiento mis conocimientos.
        Mis skills: HTML, CSS, JavaScript, Bootstrap, Sass, Git & GitHub y Netlify. 
    </p>
    <p>
        ¡Contáctame vía email!
        📩 bosomsgb@gmail.com  
    </p>
    <p> O por mensaje privado en LinkedIn!🙌</p>
</div>
